<% if !params[:search] %>
  <h1>Listing events</h1>
<% else %>
  <h1>Found events for "<i><%=params[:search]%></i>"</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Tickets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.venue %></td>
        <td><%= event.date %></td>
        <td><%= event.tickets.count %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Weet je dit zeker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuw evenement toevoegen', new_event_path %>
<br>
<%= link_to 'Nieuw ticket toevoegen', new_ticket_path %>
