<p id="notice"><%= notice %></p>
<h3>
  <%= @ticket.event.name %>
</h3>
  <strong>Price: </strong>€
  <%= @ticket.price %>
</p>
<p>
  <strong>User:</strong>
  <%= @ticket.user.email %>
</p>
<div class="ticket">
<%= link_to 'download ticket', @ticket.pdf_url.to_s %> 
<p>

<%= button_to 'Koop ticket', ticket_buy_path(@ticket), {method: :post} %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
