<p id="notice"><%= notice %></p>

<p>
  <strong>Pdf:</strong>
  <%= @ticket.pdf %>
</p>
<div class="ticket">
<%= image_tag @ticket.pdf_url.to_s %> 
<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user.email %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event.name %>
</p>

<%= button_to 'Koop ticket', ticket_buy_path(@ticket), {method: :post} %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
